.icon-div{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
}

.plus-icon{
  font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}


.plus-icon:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
}

.plus-icon:hover::before {
    filter: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(5026%) hue-rotate(339deg) brightness(95%) contrast(78%);
}

.plus-icon::before{
    content: "";
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(15%) sepia(14%) saturate(749%) hue-rotate(337deg) brightness(89%) contrast(91%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.plus-icon::before {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('/img/plus-icon.png');
}

.delete-icon {
    all: unset;                  
    cursor: pointer;
}


.delete-icon:hover {
    transform: scale(1.15);
    transition: all 0.3s ease;
}

.delete-icon:hover::before {
    filter: brightness(0) saturate(100%) invert(31%) sepia(51%) saturate(634%) hue-rotate(314deg) brightness(108%) contrast(93%);
}

.delete-icon::before{
    content: "";
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(31%) sepia(13%) saturate(5992%) hue-rotate(331deg) brightness(85%) contrast(84%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.delete-icon::before {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('/img/delete.png');
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.pagination-link {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: var(--darker);
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1;
    margin: 0;                
    vertical-align: middle;

}
.pagination-link.prev {
    padding-bottom: 3px;
    padding-right: 2px;
}

.pagination-link.next {
    padding-bottom: 3px;
    padding-left: 2px;
}


.pagination-link:hover {
    background-color: var(--dark);
    transform: scale(1.15);
    transition: all 0.3s ease;
}

.pagination-info {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


@media (max-width: 768px) {
    .pagination {
        gap: 10px;
    }

}